body {
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

h1 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    letter-spacing: 5px;
    text-align: left;
}
header {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 30px 5px;
    position: sticky;
    top: 0;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.link a {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
}

.grupa {
    position: relative;
    text-align: center;
    color: black;
    font-size: 25px;
    
}

.teksts {
    position: absolute;
    bottom: 30px;
    left: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
}



